.card{
    cursor: pointer;
    &:hover{
        transition: all 350ms;
        transform: scale(1.10);
        transform-origin: center;
    }
 
}

.card-off{
    cursor: pointer;
    &:hover{
        transition: none;
        transform: none ;
    }
}