/*####################################OVERRIDES BOOTSTRAPS CSS####################################*/

//================================color================================//

$secondary: #CD7D4A;

 /*===============================BOOTSTRAP=============================*/

 @import "../node_modules/bootstrap/scss/bootstrap.scss";


/*=============================font-family=============================*/

$headings-font-family: "Times New Roman";




/*=================================card================================*/

.card{
    cursor: pointer;
    &:hover{
        transition: all 350ms;
        transform: scale(1.10);
        transform-origin: center
    }
 
}

.card-off{
    &:hover{
        cursor: default;
        transition: none;
        transform: none
    }
}

/*=================================body================================*/

body {
    padding-bottom: 120px;
    min-height: 100vh;
}

/*=================================footer================================*/

footer {
    position: absolute;
    bottom: 0;
 
}

/*=============================Media-queries============================*/

@media screen and (max-width: 1100px) and (min-width: 480px){
    .row{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
   #city-media{
       margin-top: 25px;
   }
}






